.container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 7rem auto 0;

    @media (max-width: 768px) {
        margin: 3rem auto 0; // Ajuste da margem para telas médias
    }

    @media (max-width: 480px) {
        margin: 1.5rem auto 0; // Ajuste da margem para telas pequenas
    }

    form {
        display: flex;
        align-items: flex-end;
        gap: 1rem;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                font-size: 0.85rem;
                margin-bottom: 0.5rem;
            }

            input {
                height: 40px;
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
            }
        }

        button {
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 5px;
            background-color: #314da6;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #263a8a;
            }
        }
    }

    ul {
        list-style: none;
        margin-top: 1rem;

        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
                height: 1rem;
                width: 1rem;
            }
        }
    }
}
