.stats_card {
    background-color: #ccc;
    color: black;
    width: 30%;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
    display: inline-block;

    h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1;
    }

    span {
        font-size: 4rem;
    }

    @media (max-width: 768px) {
        width: 30%;
        transform: translateY(40%);
    }

    @media (max-width: 480px) {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem auto; /* Ajuste de margem para centralizar na linha */
    }
}
